.search-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
 
  @media  (min-width: $wL) and (min-height: $hL) {
    padding: 5rem;
  }

  @media  only screen and (min-width: $wIpad) and (min-height: $hIpad) {
    padding: 5rem;
  }

  .p-header {
    font-family: $fontMain;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0;
    margin-bottom: 0;
    @media screen and (min-width: $wMD) {
      padding-bottom: 0.6rem;
    }
    @media only screen and (min-width: $wIpad) and  (min-height: $hIpad) {
      font-size: 2.5rem;
    }

    @media  (min-width: $wL) and (min-height: $hL) {
      font-size: 2.2rem;
    }
  }

  .input-data {
    width: 64.5%;
    border: 0;
    height: 3.9rem;
    padding: 1.4rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);

    @media only screen and (min-width: $wMD) {
      width: 68.3%;
    }

    @media only screen and (max-width: $wXS) and (max-height: $hXS) {
      width: 58.2%;
    }

    @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
      height: 5rem;
      width: 76.9%;
    }
    @media  (min-width: $wL) and (min-height: $hL) {
      height: 5rem;
      width: 89.7%;
    }
    @media (min-width: $wHD) and (min-height: $hHD) {
      width: 94.7%;
    }
  }

  .input-button {
    width: 4.4rem;
    height: 4rem;
    background-color: $dark;
    border: 0;
    color: $white;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
      height: 5rem;
      width: 5rem;
      font-size: 1.5rem;
    }
    @media (min-width: $wL) and (min-height: $hL) {
      height: 5.1rem;
      width: 5.1rem;
    }
  }

  .input::placeholder {
    color: $white;
    background-color: transparent;
  }

  i {
    font-size: 2rem;
  }
}

.search-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: $white;
}

.toggle {
  height: 3rem;
  position: fixed;
  top: 0;
  background-color: transparent;
  color: black;

  .search-form-wrapper {
    height: 3rem;
    position: fixed;
    top: 0;
  }

  .p-header {
    font-size: 1.4rem;
    margin-top: 3.6rem;
    color: $white;
    font-weight: bold;
    @media  (max-width: $wXS) and (max-height: $hXS) {
      margin-top: 2.8rem;
      font-size: 1.2rem;
    }
    @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
      margin-top: 1rem;
      font-size: 1.7rem;
    }

    @media (min-width: $wL) and (min-height: $hL) {
      position: fixed;
      top: 0%;
      left: 0%;
      margin-left: 3rem;
      margin-top: 1.2rem;
    }
    @media (min-width: $wHD) and (min-height: $hHD) {
      margin-top: 2rem;
      position: fixed;
      top: 0%;
      left: 0%;
      margin-left: 3rem;
      margin-top: 1rem;
    }
  }

  .input-data {
    height: 3rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    background: transparent;
    color: $white;
    @media only screen and (max-width: $wXS) and (max-height: $hXS) {
      height: 2.3rem;
      width: 73.5%;
    }
    @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
      height: 4rem;
      width: 83.9%;
    }

    @media (min-width: $wL) and (min-height: $hL) {
      position: fixed;
      top: 0%;
      left: 0%;
      width: 36.5%;
      margin: 3rem;
      margin-top: 5rem;
    }

    @media  (min-width: $wHD) and (min-height: $hHD) {
      position: fixed;
      top: 0%;
      left: 0%;
      margin: 3rem;
      margin-top: 5rem;
      width: 40.4%;
    }
  }

  input::placeholder {
    font-size: 1rem;
    padding-left: 0.3rem;
    vertical-align: text-top;
    color: $white;
    @media (min-width: $wIpad) and (min-height: $hIpad) {
      color: $white;
      font-size: 1.3rem;
    }
  }

  input:focus {
    outline: 0;
    outline-style: 100;
    
  }

  .input-button {
    background: transparent;
    height: 3rem;
    font-size: 0.8rem;
    color: $white;
    font-weight: bold;
    @media only screen and (max-width: $wXS) and (max-height: $hXS) {
      height: 2.3rem;
      width: 2.8rem;
    }
    @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
      height: 4rem;
      width: 4rem;
    }

    @media (min-width: $wL) and (min-height: $hL) {
      height: 3rem;
      width: 3rem;
      position: fixed;
      top: 0%;
      left: 39.2%;
      margin-top: 5rem;
    }

    @media (min-width: $wHD) and (min-height: $hHD) {
      height: 4rem;
      width: 4rem;
      position: fixed;
      top: 0%;
      left: 42.4%;
      margin-top: 5rem;
    }
  }
}
