  .search-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white; 
  }

  .search-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
  }

  .p-header {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0;
  }

  .input-data {
    width: 64.5%;
    border: 0;
    height: 4rem;
    padding: 1.4rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
  }

  .input-button {
    width: 4.4rem;
    height: 4rem;
    background-color: grey;
    border: 0;
    color: white;
   
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
    font-size: 1rem;
  }

  .input::placeholder {
    color: white;
  }
  
  i {
    font-size: 2rem;
  }

  .toggle {
    height: 3rem;
    position: fixed;
    top: 0;
    background-color: transparent;
    color: black;
  }

  .toggle * .search-form-wrapper {
    height: 3rem;
    position: fixed;
    top: 0;
    background-color: transparent;
    color: black;
  }

  .toggle * .p-header {
    font-size: 1.4rem;
    margin-top: 3.6rem;
    color: white;
    font-weight: bold;
  }  

  .toggle *.input-data {
    height: 3rem;
    padding: 0.5rem;
    font-size:0.8rem;
    background: transparent;
    color: white;
  } 

  .toggle * input::placeholder {
    font-size: 1rem;
    padding-left: 0.3rem;
    vertical-align: text-top;
    color: white;
  }

  .toggle * input:focus {
    outline: 0;
    outline-style: 100;
  }

  .toggle * .input-button {
    color: black;
    background: transparent;
    height: 3rem;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
  }

  @media (min-width: 400px) {
    .input-data {
      width: 65.78%
    }
    .p-header {
      padding-bottom: 0.6rem;
      padding-left: 0.1
    }
  }