.actual-weather-wrapper {
  height: 50vh;
  min-height: 400px;
  width: 100%;
  color: $white;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;

  @media only screen and (min-width: $wMD) {
    height: 40vh;
    min-height: 360px;
  }

  @media only screen and (max-height: $hS) {
    min-height: 360px;
  }
  @media only screen and (max-device-width: $wXS) and (max-device-height: $hXS) {
    min-height: 284px;
    padding: 0.8rem;
  }
  @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
    height: 55vh;
    padding: 2rem;
  }
  @media (min-width: $wL) and (min-height: $hL) {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem;
    padding-bottom: 1rem;
    margin: 0;
    box-sizing: border-box;
  }
  

  .city,
  .temp {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
    color: $white;
    font-weight: bold;
    font-family: $fontMain;
    @media only screen and (min-width: $wMD) {
      font-size: 1.6rem;
    }
  
    @media only screen and (max-height: $hS) {
      font-size: 1.6rem;
    }
    @media only screen and (max-device-width: $wXS) and (max-device-height: $hXS) {
      font-size: 1.3rem;
      margin-bottom: 0.1rem;
    }
    @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
      font-size: 3rem;
    }
    @media (min-width: $wL) and (min-height: $hL) {
      font-size: 4rem;
    }
  }

  .wind,
  .pressure,
  .humidity,
  .description {
    font-size: 1rem;
    margin: 0.1rem;
    font-family: $fontSub;
    @media only screen and (min-width: $wMD) {
      font-size: 1.1rem;
       margin: 0.1rem;
    }
  
    @media only screen and (max-device-width: $wXS) and (max-device-height: $hXS)  {
      font-size: 0.9rem;
      margin: 0;
    }
    @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
      font-size: 1.3rem;
    }
    @media (min-width: $wL) and (min-height: $hL) {
      font-size: 1.5rem;
    }
  }

  .widnchill,
  h3 {
    margin: 0;
    @media only screen and (max-width: $wXS) and (max-height: $hXS) {
      font-size: 1.1rem;
    }

    @media (min-width: $wL) and (min-height: $hL) {
      margin: 0;
      font-size: 2.2rem
    }
      }


  p {
    margin: 0;
  }
}

  .forecast {
    h2 {
      margin: 1rem 0;
      margin-left: 1rem;
      font-size: 1.3rem;
      color: white;
      font-family: $fontMain;
      @media only screen and (min-width: $wMD) {
      margin: 0; 
      padding: 0.8rem 0 ;
      margin-left: 1rem;
      font-size: 1.2rem;
      }
    
      @media only screen and (max-height: $hS) {
        margin: 0;
        padding: 0.7rem 0;
        margin-left: 1.1rem;
        font-size: 1.2rem;
      }
      @media only screen and (max-device-width: $wXS) and (max-device-height: $hXS)  {
        padding: 0.6rem 0;
        margin-left: 0.8rem;
        font-size: 1.2rem;
      }
      @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
        padding: 1.5rem 0;
        margin-left: 2rem;
        font-size: 1.5rem;
      }
      @media (min-width: $wL) and (min-height: $hL) {
        padding: 1.5rem 0;
        padding-bottom: 0;
        margin-left: 2rem;
        font-size: 2rem;
      }
    }  
  }

  .forecast {
    @media (min-width: $wL) and (min-height: $hL) {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
  }
}
    
  .forecast-item {
    color: white;
    background-color: $light;
    display: flex;
    margin: 0.3rem 1rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1/3 1 /5 1/6 1/6;
    grid-template-rows: auto;
    grid-template-areas: "date forecast-temp forecast-wind forecast-humidity ";
    @media only screen and (min-width: $wMD) {
      margin: 0.3rem 0.9rem;
    }
    @media only screen and (max-height: $hS) {
      height: 3rem;
    }
    @media only screen and (max-device-width: $wXS) and (max-device-height: $hXS)  {
      height: 2.5rem;
      margin: 0.3rem 0.8rem;
    }
    @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
      margin: 0.3rem 2rem;
    }
    @media (min-width: $wL) and (min-height: $hL) {
      color: white;
      background-color: $light;
      margin: 1.5rem;
      padding: 0rem;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      height: 12rem;

      p {
        
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
        margin-left: 2rem;
      }
    }

  }

  br {
    @media only screen and (max-height: $hS) { 
        display: none;
      }
      @media only screen and (max-device-width: $wXS) and (max-device-height: $hXS)  {
        display: none;
      }
      @media (min-width: $wL) and (min-height: $hL) {
        display: none;
      }
    }

  .date,
  .forecast-temp,
  .forecast-desc,
  .forecast-wind,
  .forecast-humidity {
    margin: 0 1rem;
    font-size: 0.9rem;
    text-align: center;
    font-family: $fontSub;
    @media only screen and (min-width: $wMD) {
      font-size: 0.8rem;
    }
  
    @media only screen and  (max-height: $hS) {
      font-size: 0.8rem;
    }
    @media only screen and (max-device-width: $wXS) and (max-device-height: $hXS)  {
      font-size: 0.7rem;
    }
    @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
      font-size: 1.1rem;
    }
    @media (min-width: $wL) and (min-height: $hL) {
      margin: 0.5rem;
      margin-left: 0;
      font-size: 1rem;
      text-align: start;
      justify-content: center;
      line-height: 1rem;
    }
  }


  .forecast-wind {
    padding-top: 0.2rem;
    @media (min-width: $wL) and (min-height: $hL) {
      padding-top: 0rem;
      margin-left: 0rem;
      margin-top: 0rem;
    }
  }

  .date {
    margin-top: 1.5rem;
    margin-left: 0.2rem;
    @media only screen and (max-height: $hS) {
      margin-top: 0.5rem;
      margin-left: 0.3rem;
    }
    @media only screen and (max-device-width: $wXS) and (max-device-height: $hXS)  {
      margin-top: 0rem;
    }
    @media (min-width: $wL) and (min-height: $hL) {
        margin-top: 1.4rem;
        margin-left: 0rem;
      
    }
  }
  .forecast-temp {
    @media(min-width: $wL) and (min-height: $hL ) {
      margin-left: -0.2rem;
    }
  }

  .forecast-temp,
  .forecast-humidity {
    margin-top: 0.2rem;
    @media (min-width: $wL) and (min-height: $hL) {
      margin-top: 0rem;
    }
  }




