.results-wrapper {

}

.actual-weather-wrapper {
  height: 50vh;
  min-height: 460px;
  width: 100%;
  color: white;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

  .city {
    font-size: 1.5rem;
  }   

  .temp {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin-top: 0.2rem;    
  }

  .description {
    font-size: 1rem;
    margin: 0.1rem; 
  }

  .wind,
  .pressure,
  .humidity {
    font-size: 1rem;
    margin: 0.1rem;
  }

  .widnchill, h3 {
    margin: 0;
  }
  

  h2 {
    margin: 0;
    padding: 0.5rem;
  }

  .forecast-wrapper  {
  
  }

  p {
    margin: 0;
  }
  .forecast-item {
    display: flex;
    color: white;
    background-color: grey;
    align-items: center;
    width: 100%;
    border: 1px solid black;
  }

  .date,
  .forecast-temp,
  .forecast-desc,
  .forecast-wind,
  .forecast-humidity {
    margin: 0.2rem;
    font-size: 0.8rem;
  }