.results-wrapper {

}

.actual-weather-wrapper {
  height: 50vh;
  min-height: 440px;
  width: 100%;
  color: white;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

  h1 {
    font-size: 2rem;
  }   

  .temp {
      font-size: 1rem;
      color: white;
      font-weight: bold;
      padding: 2px 0; 
      margin: 0;    
  }

  .description {
      font-size: 1rem;
      line-height: 24px;
      padding: 7px 0;
      margin: 0; 
  }

  .wind,
  .pressure,
  .humidity {
      font-size: 1rem;
      padding: 2px 0;
      margin: 0;
  }

  .widnchill {
    margin: 0;
  }
  

  h2 {
    margin: 0;
    padding: 0;
  }

.forecast-wrapper  {
  height: 80%;
  
  
  box-sizing: border-box;

}

  .forecast-item {
      display: flex;
      color: white;
      background-color: grey;
      align-items: center;
      width: 100%;
  }

  

          .date,
          .forecast-temp,
          .forecast-desc,
          .forecast-wind,
          .forecast-humidity {
            margin: 0;
            padding: 1px;
            font-size: 0.8rem;

          
          }