.footer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
  @media only screen and (min-width: $wMD) {
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
  }
  @media only screen and  (max-height:  $hS) {
    margin-bottom: 1.5%;
  }
  @media only screen and (max-width: $wXS) and (max-height: $hXS) {
    margin-bottom: 0.6rem;
  }
  @media (min-width: $wL) and (min-height: $wL) {
    justify-content: flex-end;
    text-align: center;
  }


  .footer-text {
    color: $white;
    font-family: $fontMain;
    @media only screen and (max-height: $hS) {
      font-size: 0.8rem;
    }
    @media only screen and (min-width: $wIpad) and (min-height: $hIpad) {
      font-size: 1rem;
    }
    @media (min-width: $wL) and (min-height: $wL) {
      font-size: 1.1rem;
      margin-right: 2rem;
      margin-bottom: 0.5rem;
    }
  
    .socials {
      margin-left: 1rem;
      font-size: 0.9rem;

      i.large.github.icon::before,
      i.large.linkedin.icon::before {
        color: $white;

        @media only screen and (min-width: $wMD) {
          font-size: 1.2rem;
          margin-left: 0.1rem;
        }

        @media only screen and (max-height: $hS) {
          font-size: 1rem;
          margin-left: -1.5rem;
        }
        @media (min-width: $wL) and (min-height: $wL) {
          font-size: 1.2rem;
          margin-left: 0rem;
        }
      }
    }
  }
}
