//Fonts
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin");
@import url("https://fonts.googleapis.com/css?family=Hind+Guntur");

$fontMain: "Libre Franklin";
$fontSub: "Hind Guntur", sans-serif;

// Media Queries
$wXS: 360px;
$hXS: 640px;
$hS: 667px;
$wMD: 410px;
$wIpad: 768px;
$hIpad: 1024px;
$wL: 900px;
$hL: 900px;
$wHD: 1600px;
$hHD: 1050px;

//colors

$dark: #30323d;
$light: #e8c547;
$white: #fff;
