body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: grey;
  color: black;
}

* {
  box-sizing:  border-box;
}

.hidden {
  display: none !important;
}

h1 {
  font-size: 1.3rem;
  margin: 0;
  color: white;
}

.coords-button  {
  width: 4.4rem;
  height: 4rem;
  background-color: grey;
  border: 0;
  color: white;
  position: fixed;
  top: 49.2%;
  left: 79.6%;
  text-align: center;
  line-height: 3.6rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
  cursor: pointer;
  font-size: 1rem;
}
  
.toggler {
  margin-top: 3.25rem;
  color: black;
  background: transparent;
  position: fixed;
  top: 0%;
  height: 3rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 3.1rem;
  font-size: 0.8rem;
}

@media (min-width: 400px) {
  
}

