body {
  width: 100%;
  height: 100%;
  background: $dark;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.coords-button {
  width: 4.4rem;
  height: 4rem;
  background-color: $dark;
  border: 0;
  color: $white;
  position: fixed;
  top: 49.2%;
  left: 79.6%;
  text-align: center;
  line-height: 3.6rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  cursor: pointer;
  font-size: 1rem;

  @media (min-width: $wMD) {
    left: 81.3%;
    top: 49.3%;
  }
  @media (max-height: $hS) {
    top: 49%;
  }
  @media (max-width: $wXS) and (max-height: $hXS) {
    left: 77%;
  }
  @media (min-width: $wIpad) and (min-height: $hIpad) {
    height: 5rem;
    width: 5rem;
    font-size: 1.5rem;
    line-height: 4.5rem;
    margin-right: 2rem;
    left: 81.1%;
    top: 49.7%;
  }
  @media (min-width: $wL) and (min-height: $hL) {
    left: 90.7%;
    top: 49.55%;
    height: 5.1rem;
    width: 5.1rem;
    font-size: 1.1rem;
    line-height: 5rem;
  }
  @media (min-width: $wHD) and (min-height: $hHD) {
    left: 95%;
    top: 49.4%;
    height: 5.1rem;
    width: 5.1rem;
  }
}

.toggler {
  margin-top: 3.25rem;
  background: transparent;
  position: fixed;
  top: 0%;
  height: 3rem;
  color: $white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 3.1rem;
  font-size: 0.8rem;
  cursor: pointer;
  @media (min-width: $wMD) {
    left: 82%;
  }

  @media (max-width: $wXS) and (max-height: $hXS) {
    height: 2.3rem;
    width: 2.8rem;
    left: 83.9%;
    line-height: 2.5rem;
    margin-top: 3.05rem;
  }
  @media (min-width: $wIpad) and (min-height: $hIpad) {
    height: 4rem;
    width: 4rem;
    font-size: 0.8rem;
    top: 2.7%;
    left: 85%;
    line-height: 4.1rem;
  }
  @media (min-width: $wL) and (min-height: $hL) {
    position: fixed;
    top: 0%;
    left: 43%;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 0.9rem;
    margin-top: 5rem;
  }
  @media (min-width: $wHD) and (min-height: $hHD) {
    position: fixed;
    top: 0%;
    left: 45%;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    margin-top: 5rem;
  }
}
